{% extends "pixney.theme.hjortron::layouts/login" %}

{% block content %}

    {# <div class="logo-container">
    <div class="logo">
        {{ img('theme::img/icon.svg').data|raw }} PYRO
        <span>{{ config('streams::distribution.version') }}</span>
    </div>
    <div class="overlay"></div>
</div> #}

    {# <div>
        {# {{ img('theme::img/icon.svg').data|raw }} 
    </div> #}
{% include "theme::partials/messages" %}
    <div class="PixneyLogin">
        <div class="PixneyLogin__Wrapper">
            
            {% set form = form('login').redirect('admin').get() %}
            {{ form.open|raw }}

            {% if setting_value('anomaly.module.users::login') == 'username' %}
                {{ form.fields.username.setPlaceholder(form.fields.username.label).addAttribute('autofocus', 1).input|raw }}
            {% else %}
                {{ form.fields.email.setPlaceholder(form.fields.email.label).addAttribute('autofocus', 1).input|raw }}
            {% endif %}

            {{ form.fields.password.setPlaceholder(form.fields.password.label).input|raw }}

            <div class="PixneyLogin__Checkbox">
                {{ form_checkbox("remember", null, false, {'id': 'remember'}) }}
                <label for="remember">
                {{ trans('anomaly.module.users::field.remember_me.name') }}
                </label>
            </div>

            <button type="submit" value="Login">
                {{ trans('anomaly.module.users::button.login') }}
            </button>
            {{ form.close|raw }}

            <a href="{{ url_route('anomaly.module.users::password.forgot') }}">
                <small>
                    {{ trans('anomaly.module.users::message.forgot_password') }}
                </small>
            </a>
        </div>
    </div>

{% endblock %}