<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<title>{{ trans('pixney.theme.hjortron::control_panel.title') }}
    &#8250; {{ trans(template.breadcrumbs.all()|keys|last)|raw }}</title>

<!-- Favicons -->
{{ favicons("pixney.theme.hjortron::img/favicon.png") }}


{{ asset_add("theme.css", "pixney.theme.hjortron::scss/fonts/fonts.scss", ["parse"]) }}
{#{ asset_add("build.css", "pixney.theme.hjortron::scss/theme/theme.scss") }#}

{{ asset_add(
    "build.css",
    "pixney.theme.hjortron::scss/theme/theme.scss",
    [
        "required",
        "as:t4t5/sweetalert.css",
        "as:jshjohnson/Choices.css",
        "as:rstacruz/nprogress.css",
    ]
) }}

{{ asset_add("theme.js", "pixney.theme.hjortron::js/vendor/*") }}
{{ asset_add("theme.js", "pixney.theme.hjortron::js/libraries/tether.min.js") }}

{{ asset_add(
    "theme.js",
    "pixney.theme.hjortron::js/libraries/*",
    [
        "required",
        "as:t4t5/sweetalert.js",
        "as:RubaXa/Sortable.js",
        "as:jshjohnson/Choices.js",
        "as:rstacruz/nprogress.js",
        "as:js-cookie/js-cookie.js",
        "as:ccampbell/mousetrap.js",
    ]
) }}




{# Need to figure out globing to scripts.js - ends up with a /* file #}
{{ asset_add("scripts.js", "pixney.theme.hjortron::js/theme/ajax.js") }}
{{ asset_add("scripts.js", "pixney.theme.hjortron::js/theme/confirm.js") }}
{{ asset_add("scripts.js", "pixney.theme.hjortron::js/theme/initialize.js") }}
{{ asset_add("scripts.js", "pixney.theme.hjortron::js/theme/keyboard.js") }}
{{ asset_add("scripts.js", "pixney.theme.hjortron::js/theme/modal.js") }}
{{ asset_add("scripts.js", "pixney.theme.hjortron::js/theme/prompt.js") }}
{{ asset_add("scripts.js", "pixney.theme.hjortron::js/theme/push.js") }}
{{ asset_add("scripts.js", "pixney.theme.hjortron::js/theme/search.js") }}

{{ asset_style("theme.css") }}
{{ asset_style("build.css", ["live"]) }}

{% if locale().isRtl() %}
    {{ asset_add("styles.css", "pixney.theme.hjortron::css/bootstrap-rtl/bootstrap.rtl.css") }}
    {{ asset_add("styles.css", "pixney.theme.hjortron::scss/theme/rtl.scss") }}
{% endif %}

{{ constants() }}

{{ asset_script("theme.js") }}
